* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  margin-top: 80px;
  
}

header {
  background-color: #4f46e5;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.gameContainer{
  background-color: green;
  height: 175vh;
}

.setup{
  height: 50%;
  background-color: pink;
  display: flex;
  flex-direction: row;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: lightgray;
  font-size: 1rem;
}